@media (max-width: 768px) {
  .header-conteiner {
    display: none;
  }
  .main-conteiner {
    height: auto;
  }

  .img-conteiner {
    width: 100%;
    height: auto;
  }
  .discription-conteiner {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  .leftside {
    gap: 2px;
  }
  .rightside {
    gap: 2px;
  }
  .lastline {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
  }
  .message {
    width: 100%;
  }
  .call {
    width: 100%;
  }
  .buttons {
    display: inline-block;
    width: 90%;
  }
  .card {
    width: 100%;
    margin: 0 auto;
  }
  .footerbar {
    justify-content: space-between;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .footerbar ul {
    display: flex;
    flex-direction: column;
  }
  .footernav {
    margin-left: none;
  }
  .mobilenav {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 5%;
    margin-top: 70px;
    flex-wrap: wrap;
  }
  .mobilenav img {
    display: block;
    padding-left: 10px;
  }
  .mobilenav {
    background-color: #ffffff;
    border-radius: 20px;
    border-bottom: none;
  }
  .greenbox {
    font-size: 50px;
    height: 50px;
    background-color: #29b24e;
    color: white;
    border-radius: 10px;
    display: inline-block;
    width: 50px;
    padding: 10px;
    margin: -20px 10px;
  }
  .plus {
    transform: translate(-3px, -25px);
  }
  .sell {
    transform: translate(20px, -20px);
  }
  .support {
    display: none;
  }
}
