body {
  background-color: #f2f2f2;
}
li,
ul {
  display: inline-block;
  margin-left: 20px;
  font-family: "Trirong", serif;
}
a {
  display: inline-block;
}

.conteiner {
  max-width: 1500px;
}

.header-conteiner {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  max-width: 1400px;
}

.hbutton {
  background-color: #29b24e;
  border-radius: 5px;
  border: none;
  color: white;
  height: 40px;
  width: 160px;
}
